<!-- Row 1 -->
<div class="row">
  <div class="tile sm-12" id="t-basic">

    <div class="header">
      <div class="left">
        <div class="title">Top tile</div>
        <div class="subtitle">Subtitle example</div>
      </div>
    </div>

    <div class="content">
      <div class="box"></div>
    </div>

  </div>
</div>

<!-- Row 2 -->
<div class="row">
  <div class="tile sm-12 xl-6" id="t-basic">
    <div class="header">
      <div class="left">
        <div class="title">Left tile</div>
        <div class="subtitle">Subtitle example</div>
      </div>
    </div>
    <div class="content">
      <div class="box"></div>
    </div>
  </div>

  <div class="tile sm-12 xl-6" id="t-basic">
    <div class="header">
      <div class="left">
        <div class="title">Right tile</div>
        <div class="subtitle">Subtitle example</div>
      </div>
    </div>
    <div class="content">
      <div class="box"></div>
    </div>
  </div>
</div>