<!-- Row 1 -->
<div class="row">
  <div eds-tile class="sm-12">
    <eds-tile-title>Top tile</eds-tile-title>
    <eds-tile-subtitle>Subtitle example</eds-tile-subtitle>
    <div class="box"></div>
  </div>
</div>

<!-- Row 2 -->
<div class="row">
  <div eds-tile class="sm-12 xl-6">
    <eds-tile-title>Left tile</eds-tile-title>
    <eds-tile-subtitle>Subtitle example</eds-tile-subtitle>
    <div class="box"></div>
  </div>
  <div eds-tile class="sm-12 xl-6">
    <eds-tile-title>Right tile</eds-tile-title>
    <eds-tile-subtitle>Subtitle example</eds-tile-subtitle>
    <div class="box"></div>
  </div>
</div>