<eds-system-bar (settingsHandler)="settingsHandler($event)"></eds-system-bar>
<main>
  <eds-settings [opened]="settingsOpened">
    <div class="profile">
      <i class="icon icon-profile"></i>
      <div class="username">Username</div>
    </div>
    <div class="content">
      <div class="title">My settings</div>
      <div class="item">
        <div class="left">
          Switch theme
        </div>
        <div class="right">
          <eds-switch [(ngModel)]="isLightTheme" (ngModelChange)="toggleTheme($event)">
            <eds-switch-on>Light</eds-switch-on>
            <eds-switch-off>Dark</eds-switch-off>
          </eds-switch>
        </div>
      </div>
    </div>
    <div class="bottom">
      <button eds-button class="big">
        <i class="icon icon-log-out"></i> Sign out
      </button>
    </div>
  </eds-settings>
  <div class="app" [ngClass]="{'slide-right': !settingsOpened, 'slide-left': settingsOpened}">
    <eds-app-bar [menuOpened]="menuOpened" (menuHandler)="menuHandler($event)"></eds-app-bar>
    <div class="appbody">
      <div class="appnav" [ngClass]="{hidden: !menuOpened}">
        <eds-tree mode="navigation">
          <eds-tree-item>Example page</eds-tree-item>
          <eds-tree-item route="standalone">Standalone example page</eds-tree-item>
          <eds-sub-tree>
            <eds-sub-tree-title>Group of pages</eds-sub-tree-title>
            <eds-tree-item route="example1">Example 1</eds-tree-item>
            <eds-tree-item route="example2">Example 2</eds-tree-item>
            <eds-tree-item route="example3">Example 3</eds-tree-item>
          </eds-sub-tree>
        </eds-tree>
      </div>
      <div class="appcontent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>