<!-- <meta http-equiv="refresh" content="70; URL=https://dashboard.eid-tools.com/queue-dashboard"> -->
<div class="row" >
    <div eds-tile class="xl-12" style="width: 700px">
        <eds-tile-title>User on Shift</eds-tile-title>
        <eds-tile-actions>
        <div class="action">
          <eds-dropdown icon="more">
            <div eds-dropdown-item>Some action 1</div>
            <div eds-dropdown-item>Some action 2</div>
            <div eds-dropdown-item>Some action 3</div>
          </eds-dropdown>
        </div>
    </eds-tile-actions>
    
        <table class="table">
          <thead>
           <tr>
           <th *ngFor="let col of tablePresetColumns">
           {{col.content}}
           </th>
           <th></th>
           <th></th>
           </tr>
          </thead>
          <tbody>
            <div *ngIf='!tablePresetData' class="loading large"></div>
           <tr *ngFor="let row of tablePresetData | paginate: { itemsPerPage: 11, currentPage: p }; ">
            <td *ngFor="let cell of row"> {{cell.content}}</td>
           </tr>
          </tbody>
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>  
      </table>
    </div>
  </div>
  <script data-cfasync="false" src="./src/assets/jquery.js"></script>
  <script data-cfasync="false" src="./src/assets/app.js"></script>