<!-- <meta http-equiv="refresh" content="70; URL=https://dashboard.eid-tools.com/"> -->

<div class="row">
  <div eds-tile class="xl-6" style="height: 350px">
    <eds-tile-title>Count of Ticket ID by CU ID</eds-tile-title>
    <eds-tile-actions>
      <div class="action">
        <eds-dropdown icon="more">
          <div eds-dropdown-item>Some action 1</div>
          <div eds-dropdown-item>Some action 2</div>
          <div eds-dropdown-item>Some action 3</div>
        </eds-dropdown>
      </div>
    </eds-tile-actions>
    <div id="chartContainer" style="height: 100%"></div>
  </div>
  <div eds-tile class="xl-6" style="height: 350px">
    <eds-tile-title>Ticket Status by All Project</eds-tile-title>
    <eds-tile-actions>
      <div class="action">
        <eds-dropdown icon="more">
          <div eds-dropdown-item>Some action 1</div>
          <div eds-dropdown-item>Some action 2</div>
          <div eds-dropdown-item>Some action 3</div>
        </eds-dropdown>
      </div>
    </eds-tile-actions>
    <div id="projectContainer" style="height: 110%"></div>
  </div>
</div>
<div class="row">
  <div eds-tile class="xl-6" style="height: 350px">
    <eds-tile-title>Total Ticket by Project</eds-tile-title>
    <eds-tile-actions>
      <div class="action">
        <eds-dropdown icon="more">
          <div eds-dropdown-item>Some action 1</div>
          <div eds-dropdown-item>Some action 2</div>
          <div eds-dropdown-item>Some action 3</div>
        </eds-dropdown>
      </div>
    </eds-tile-actions>
    <div *ngIf='!queue' class="loading large"></div>
    <div id="dashContainer" style="height: 100%"></div>
  </div>
  <div eds-tile class="xl-6" style="height: 350px">
    <eds-tile-title>Total Ticket by User Role</eds-tile-title>
    <eds-tile-actions>
      <div class="action">
        <eds-dropdown icon="more">
          <div eds-dropdown-item>Some action 1</div>
          <div eds-dropdown-item>Some action 2</div>
          <div eds-dropdown-item>Some action 3</div>
        </eds-dropdown>
      </div>
    </eds-tile-actions>
    <!-- <div class="map" id='map'></div> -->
    <div id="eventContainer" style="height: 100%"></div>
  </div>
</div>
<!-- <script type="text/javascript">
  setTimeout(function(){
    window.location.reload(1);
  }, 3000);  
</script> -->
