<!-- <meta http-equiv="refresh" content="270; URL=https://dashboard.eid-tools.com/activity-dashboard"> -->
<style type="text/css">
  .text-xxl {
    font-size: 90px;
  }
  .dot{ height: 20px; width: 20px; border-radius: 100%; display: inline-block; } .dot-red { background-color: #ff0000; } .dot-green { background-color: #008000; } .dot-yellow { background-color: #ffff00; }
  .table{width:100%;border-left:none;border-right:none;border-collapse:collapse;text-align:left;margin-bottom:24px}
  .table thead{font-weight:500}

</style>
<div class="row">
    <div eds-tile class="xl-4">
        <eds-tile-title>User on Shift</eds-tile-title>
        <eds-tile-actions>
        <div class="action">
          <eds-dropdown icon="more">
            <div eds-dropdown-item>Some action 1</div>
            <div eds-dropdown-item>Some action 2</div>
            <div eds-dropdown-item>Some action 3</div>
          </eds-dropdown>
        </div>
    </eds-tile-actions>
        <!-- <eds-table [columns]="tablePresetColumns" [data]="tablePresetData" [modes]="['compact', 'dashed']">
         </eds-table> -->
         <table class="table">
          <thead>
           <tr>
           <th *ngFor="let col of tablePresetColumns">
           {{col.content}}
           </th>
           <th></th>
           <th></th>
           </tr>
          </thead>
          <tbody>
           <tr *ngFor="let row of tablePresetData ">
            <td> {{row[0].content}}</td>
         <td *ngFor="let cell of row"> 
          <span class ="dot" [ngClass]="{
           'dot-yellow' : cell.content == 'Busy',
           'dot-green' : cell.content == 'Idle',
           'dot-red' : cell.content == 'Overload'}">
           </span>
         </td>
           </tr>
          </tbody>
      </table>
    </div>
    <div class="xl-8">
        <div class="row">
            <div eds-tile class="xl-6" style="height: 200px">
                <eds-tile-title>Number of User on Shift</eds-tile-title>
                <eds-tile-actions>
                <div class="action">
                  <eds-dropdown icon="more">
                    <div eds-dropdown-item>Some action 1</div>
                    <div eds-dropdown-item>Some action 2</div>
                    <div eds-dropdown-item>Some action 3</div>
                  </eds-dropdown>
                </div>
              </eds-tile-actions>
              <div class="kpi">
                 <!-- <div style="center" class="color-gray">Network activity</div> -->
                 <div class="item" *ngFor="let item of apiData">
                   <span class="text-xxl">{{item.total}}</span>
                   <span class="text-lg color-gray"> Persons</span>
                 </div>
            </div>
            </div>
            <div eds-tile class="xl-6" style="height: 200px">
                <eds-tile-title>Number of User Off</eds-tile-title>
                <eds-tile-actions>
                  <div class="action">
                    <eds-dropdown icon="more">
                      <div eds-dropdown-item>Some action 1</div>
                      <div eds-dropdown-item>Some action 2</div>
                      <div eds-dropdown-item>Some action 3</div>
                    </eds-dropdown>
                  </div>
                </eds-tile-actions>
                <!-- <eds-gauge [settings]="gaugeScore"></eds-gauge> -->
                <div class="kpi">
                   <!-- <div style="center" class="color-gray">Network activity</div> -->
                   <div class="item" *ngFor="let item of unshift">
                     <span class="text-xxl">{{item.total}}</span>
                     <span class="text-lg color-gray"> Persons</span>
                   </div>
              </div>
        </div>
        <div class="row">
            <div eds-tile class="xl-7" style="height: 500px">
                <eds-tile-title>User on Shift Indicator</eds-tile-title>
                <eds-tile-actions>
                  <div class="action">
                    <eds-dropdown icon="more">
                      <div eds-dropdown-item>Some action 1</div>
                      <div eds-dropdown-item>Some action 2</div>
                      <div eds-dropdown-item>Some action 3</div>
                    </eds-dropdown>
                  </div>
                </eds-tile-actions>
                <div id="container" style="height: 100%"></div>
            </div>
            <div eds-tile class="xl-5" style="height: 500px">
              <eds-tile-title>Today's Queue</eds-tile-title> 
              <eds-tile-actions>
                <div class="action">
                  <eds-dropdown icon="more">
                    <div eds-dropdown-item>Some action 1</div>
                    <div eds-dropdown-item>Some action 2</div>
                    <div eds-dropdown-item>Some action 3</div>
                  </eds-dropdown>
                </div>
              </eds-tile-actions>
              <!-- table ticket queue -->
              <table class="table">
                <thead>
                 <tr>
                 <th *ngFor="let col of tablePresetQueueColumns">
                 {{col.content}}
                 </th>
                 <!-- <th></th>
                 <th></th> -->
                 </tr>
                </thead>
                <tbody>
                 <tr *ngFor="let row of tablePresetQueueData ">
                 <td *ngFor="let cell of row"> {{cell.content}}
               </td>
                 </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
<!-- <script type="text/javascript">
  setTimeout(function(){
    window.location.reload(1);
  }, 3000);  
</script> -->
